<?xml version="1.0" encoding="utf-8"?>
<title>Biil云视</title>
<icon>icon.png</icon>
<packageName>com.biil</packageName>
<versionName>0.8</versionName>
<versionint>4233</versionint>
<sdk>24</sdk>
<yuv>3</yuv>

<remark>测试版本</remark>
<Permissions>android.permission.REQUEST_INSTALL_PACKAGES
android.permission.WRITE_EXTERNAL_STORAGE
android.permission.INTERNET
android.permission.ACCESS_NETWORK_STATE
android.permission.READ_EXTERNAL_STORAGE</Permissions>
<createTime>2022-01-16 16:36:32</createTime>
<upTime>2022-01-16 16:36:32</upTime>